/* Header  */

header {
    background: #2A9D8F;
    padding: 38px 130px;
    margin: auto;
}

.header_logo {
    margin-right: 357px;
    vertical-align: middle;
}

nav {
    display: inline-block;


}

.header_txt {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Nerko One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;


}

.home {
    margin-right: 51px;
    color: #ffff;

}

.post {
    margin-right: 51px;
    color: #ffff;
}


.newsletter {
    color: #ffff;
}

.button1 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 357px;
    padding: 8px 16px;


}

.button1_txt {
    color: #2A9D8F;

    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
}

/* Article  */

article {
    width: 780px;
    height: 434px;
    margin-inline: auto;
    text-align: center;
    margin-top: 322px;

}

h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: #4D4D4D;
    margin-bottom: 60px;
}

.article_txt1,
.article_txt2 {
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    color: #656565;
    font-family: 'Nerko One', cursive;

}

.article_txt1 {
    margin-bottom: 52px;

}


/* Section 1  */

.section1 {

    margin-top: 225px;
    background: #C2F3EE;
    padding: 80px 130px 148px;
}

.section1_header {

    display: inline-block;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;

    width: 457px;

    font-family: 'Poppins', sans-serif;

}

.section1_txt {
    display: inline-block;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    margin-top: 27px;
    margin-bottom: 45px;


}

.section1_div {
    display: inline-block;
    vertical-align: top;
    width: 457px;
    margin-left: 105px;


}

.button2 {
    padding: 11px 16px;
    background: #2A9D8F;
}

.button2_txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffff;
}

/* Section 2  */

.section2 {
    margin: 175px 130px 200px;
    width: 1180px;
    text-align: center;

}

.section2_div1,
.section2_div2 {
    display: inline-block;
    text-align: left;

}

.section2_txt {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #535353;
    margin-top: 32px;
}

.section2_div1 {
    margin-right: 10px
}

/* Footer  */


footer {
    background: #2A9D8F;
    width: 1440px;
    padding: 90px 130px 148px;
}

.footer_logo {
    margin-right: 634px;

}

.footer_div1,
.footer_div2,
.footer_div3 {
    display: inline-block;
    vertical-align: top;

}

.footer_div1,
.footer_div2 {
    margin-right: 41px;
}

.footer_head {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    margin-bottom: 21px;

}



.footer_txt1,
.footer_txt2,
.footer_txt3 {
    color: #ffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;

}

.footer_txt1,
.footer_txt2 {
    margin-bottom: 8px;
}