header {
    background: #2A9D8F;
    padding: 38px 130px;
    margin: auto;
}

.header_logo {
    margin-right: 357px;
    vertical-align: middle;
}

nav {
    display: inline-block;


}

li {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Nerko One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;


}

.home {
    margin-right: 51px;
    color: #ffff;

}

.post {
    margin-right: 51px;
    color: #ffff;
}

.newsletter {
    color: #ffff;
}

button {
    display: inline;
    vertical-align: middle;
    margin-left: 357px;
    padding: 8px 16px;


}

.button {
    color: #2A9D8F;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}
article{
    width: 780px;
height: 434px;
margin-inline :auto;
text-align: center;
margin-top: 322px;

}
h1{
    font-weight: 500;
font-size: 48px;
line-height: 130%;
color: #4D4D4D;
}
.article_txt1, .article_txt2{
   text-align: justify;
   font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 170%;
color: #656565;
font-family: 'Nerko One', cursive;

}
.article_txt1{
    margin-bottom: 52px;
}

