header {
    background: #2A9D8F;
    padding: 38px 130px;
    margin: auto;
}

.header_logo {
    margin-right: 357px;
    vertical-align: middle;
}

nav {
    display: inline-block;


}

li {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Nerko One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;


}

.home {
    margin-right: 51px;
    color: #ffff;

}

.post {
    margin-right: 51px;
    color: #ffff;
}

.newsletter {
    color: #ffff;
}

button {
    display: inline;
    vertical-align: middle;
    margin-left: 357px;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;

}

.button {
    color: #2A9D8F;

}
